<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>POS Emulation </title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" />
</head>
<body ng-controller="appController">
	<div>
	<object id="PosCorrespondentCtrl" classid="CLSID:B5EB67E1-D695-4CB6-9EC8-C852C41A7767" width="1" height="1"></object>
	<p>&nbsp;</p>
	</div>


	<div class='container'>
		<div class="page-header">
			<h1>Web POS Emulator</h1>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Message from POS to SSA</h3>

					</div>
					<div class="panel-body">
						<textarea type="text" class="form-control" rows="15" ng-model="msg2Ssa"></textarea>
					</div>
					<div class="panel-footer">
						<div class="dropup">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  Select Pre-defined Message
								  <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
								  <li><a href="#" ng-click="setInputStartSales()">Open Sales</a></li>
								  <li><a href="#" ng-click="setInputSaveUsePoint()">Save/Use Point</a></li>
								  <li><a href="#" ng-click="setInputCancelTrade()">Cancel Trade</a></li>
								  <li><a href="#" ng-click="setInputStopSales()">Close Sales</a></li>
								</ul>
							</div>
							<button class="btn btn-success pull-right" ng-click="sendInputMsg()">Send</button>
						</div>
					</div>
				</div>

			</div>

			<div class="col-sm-6 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Message from SSA to POS</h3>
					</div>

					<div class="panel-body">
						<div data-ng-repeat="resp in responses">
							<pre ng-class="{'bg-success': $index === 0}">{{resp}}</pre>
						</div>
					</div>
					<div class="panel-footer">
						<button class="btn btn-danger" ng-show="refreshEnabled" ng-click="eableRefresh(false)">Stop Refresh</button>
						<button class="btn btn-info" ng-hide="refreshEnabled" ng-click="eableRefresh(true)">Resume Refresh</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="js/angular.1.1.5.js"></script>
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/intercom.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="webpos.js"></script>


	<!--/////////////////////////////////////////////////////////////////////////////// -->
	<!-- 이벤트 핸들러 등록 -->
	<script type="text/javascript" for="PosCorrespondentCtrl" event="OnMessageFromSyrupStore(message)">
		//alert("[Javascript] OnMessageFromSyrupStore event received : (" + message + ")");
		//resp = message;
		//alert(message);
		var scope = angular.element(document.querySelector('.container')).scope();
		//alert(scope);
		scope.$apply(function(){
			scope.processMessageFromSsa(message);
		});
	</script>

</body>
</html>