<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Syrup Store Agent Emulation </title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" />
</head>
<body ng-controller="appController">
	<div>
	<object id="SSAProxyCtrl" classid="CLSID:82CAC012-A103-4C38-9CB2-1663F3C113C1" width="1" height="1"></object>
	<!-- <object id="SSAProxyCtrl" classid="CLSID:82CAC012-A103-4C38-9CB2-1663F3C113C1" codebase="SSAProxy.cab#version=1,0,0,1" width="1" height="1"></object> //-->
        <p>&nbsp;</p>
        </div>


        <div class='container'>
            <div class="page-header">
                <h1>Web Syrup Store Emulator</h1>
            </div>
			<!--
            <div class="row">
                <div class="col-xs-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="checkbox" autocomplete="off" checked ng-click="sendHealth()"> Health Check
                        </label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn" ng-class="healthStatus === '' ? 'btn-default' : (healthStatus === 'OK' ? 'btn-success' : 'btn-danger')">{{healthStatus === '' ? "Stop" : healthStatus}}</button>
                </div>
            </div>
			//-->
            <p></p>
            <div class="row">
                <div class="col-xs-6">
                    <!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" ng-repeat="group in groupList" ng-class="{active: $index == 0}">
						<a href="#{{group.id}}" aria-controls="{{group.id}}" role="tab" data-toggle="tab" ng-click="setCurrentTabIndex($index)">{{group.name}}</a>
					</li>
				</ul>
				<p></p>
				<div class="row" ng-show="orderTab">
					<div class="col-xs-6">
						<label>품목명</label>
						<input type="text" class="form-control input-sm" id="productName" ng-model="productName">
						<label for="productCode">품목 코드</label>
						<input type="text" class="form-control input-sm" id="productCode" ng-model="productCode">
						<label for="productPrice">품목 가격</label>
						<input type="number" class="form-control input-sm" id="productPrice" ng-model="productPrice">
						<!--
                        <label for="productQnt">품목 수량</label>
                        <input type="text" class="form-control input-sm" id="productQnt" ng-model="productQnt">
                        //-->
					</div>
					<div class="col-xs-6">
						<label for="optionName">옵션명</label>
						<input type="text" class="form-control input-sm" id="optionName" ng-model="optionName">
						<label for="optionCode">옵션 코드</label>
						<input type="text" class="form-control input-sm" id="optionCode" ng-model="optionCode">
						<label for="optionPrice">옵션 가격</label>
						<input type="number" class="form-control input-sm" id="optionPrice" ng-model="optionPrice">
						<!--
                        <label for="optionQnt">옵션 수량</label>
                        <input type="text" class="form-control input-sm" id="optionQnt" ng-model="optionQnt">
                        //-->
					</div>
				</div>
				<p></p>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" ng-class="{'tab-pane': true, active: $index == 0}" ng-repeat="group in groupList" id="{{group.id}}">

						<div class="panel-group" role="tablist" aria-multiselectable="true" id="{{group.id}}-list">

							<div class="panel panel-default" ng-repeat="subgroup in group.list">
								<div class="panel-heading" role="tab" id="{{group.id}}-header-{{$index}}">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#{{group.id}}-list" href="#{{group.id}}-body-{{$index}}" aria-expanded="true" aria-controls="{{group.id}}-body-{{$index}}">
											{{subgroup.name}}
										</a>
									</h4>
								</div>
								<div id="{{group.id}}-body-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{group.id}}-header-{{$index}}">
									<div class="panel-body">
										<div ng-repeat="testcase in subgroup.cases">
											<h5>{{$index + 1}}. {{testcase.testName}}<br/>
												<small>{{testcase.explain}}<br/>
													<span style="color:#ff0000">{{testcase.notice}}</span><br ng-if="testcase.notice"/>
													<span style="color:#000000"><b>예상 response result: {{testcase.expect}}</b></span>
												</small>
											</h5>
											<button ng-class="{'btn': true, 'btn-info': !testcase.progress, 'btn-warning': testcase.progress}" ng-disabled="testProgress || (group.id === 'benefit' ? !benefitProgress : false)" ng-click="prepareJson($parent.$parent.$index, $parent.$index, $index)">{{testcase.testName}}</button>
											<button ng-class="{'btn': true, 'btn-success': (testcase.result == 'OK' ? true: false), 'btn-danger': (testcase.result == 'NOK' ? true: false), 'hide': (testcase.result == '' ? true : false)}">{{testcase.result}}</button>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">SSA >> POS</h3>
					</div>

					<div class="panel-body">
						<pre class="pre-scrollable">{{sendMessageToPos}}</pre>
					</div>
					<div class="panel-footer">

					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">SSA << POS</h3>
					</div>

					<div class="panel-body">
						<pre class="pre-scrollable">{{messageFromPos}}</pre>
					</div>
					<div class="panel-footer">

					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/angular.1.1.5.js"></script>
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/intercom.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="testSuite/testSuite.js"></script>
	<script src="testSuite/protocol.js"></script>
	<script src="testSuite/orderTest.js"></script>
	<script src="testSuite/BenefitTest.js"></script>
	<script src="webssa.js"></script>



	<!--/////////////////////////////////////////////////////////////////////////////// -->
	<!-- 이벤트 핸들러 등록 -->
	<script type="text/javascript" for="SSAProxyCtrl" event="OnMessageFromPos(message)">
		//alert("[Javascript] OnMessageFromSyrupStore event received : (" + message + ")");
		//resp = message;
		//alert(message);
		var scope = angular.element(document.querySelector('.container')).scope();
		//alert(scope);
		scope.$apply(function(){
			scope.processMessageFromPos(message);
		});
	</script>

</body>
</html>